{% extends "base.template.html" %}
{% load static %}

{% load cloudinary %}

{% block page_id %}view-cart-page{% endblock %}

{% block content %}

<!-- Start of view-cart-display -->
    <section class="container">

        <div class="bordered bg-colored my-5">
            <div class="row justify-content-center">
                <h1 class="my-5">Shopping Cart</h1>
            </div>
        cart items: {{shopping_cart.items}}

            <div class="row justify-content-center">
            <!-- start of table container -->
                <div class="col-10 table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="align-middle" scope="col">Image</th>
                                <th class="align-middle" scope="col">Item</th>
                                <th class="align-middle" scope="col">Quantity</th>
                                <th class="align-middle" scope="col">Unit Price</th>
                                <th class="align-middle" scope="col">Sub-Total</th>
                                <th class="align-middle" scope="col">Remove</th>                    
                            </tr>
                        </thead>
                        <!-- start of Item list iteration -->
                        <tbody>
                            {% for key, value in shopping_cart.items %}
                            <tr>
                                <td class="align-middle">{% cloudinary value.cover alt="Product image" %}</td>
                                <td class="align-middle">{{ value.name }}</td>
                                <td class="align-middle"><a href="{% url 'minus_from_cart' product_id=value.id %}"><i class="fa fa-minus mr-1 pri-text-color" aria-hidden="true"></i></a> {{value.quantity}} <a href="{% url 'add_to_cart' product_id=value.id %}"><i class="fa fa-plus ml-1 pri-text-color" aria-hidden="true"></i></a></td>
                                <td class="align-middle">${{ value.cost }}</td>
                                <td class="align-middle">${{ value.sub_total }}</td>
                                <td class="align-middle"><a href="{% url 'remove_from_cart' product_id=value.id %}"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            {% endfor %}
                            <!-- table footer (Totals) -->
                            <tr>
                                <td colspan="4"></td>
                                <td><h3>Total</h3></td>
                                <td><h3>$888.88</h3></td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{% url 'view_shop' %}" class="" id="cart-back"><i class="fa fa-arrow-circle-left"></i> Back to Shop</a>
                                </td>
                                <td colspan="4"></td>
                                <td id="cart-checkout">
                                    <a href="#" class="btn btn-primary"><i class="fa fa-credit-card"></i> Checkout</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <!-- end of table container -->
            </div>
        </div>    
    </section>
<!-- End of view-cart-display -->

{% endblock %}