body {
    background: #23232f;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

#top-padding {
    padding-top: 4.5rem;
}

#home-page {
    background: linear-gradient(to bottom, rgba(35,35,47, 0.85) 0%, rgba(35,35,47, 0.85) 100%), url("../static/images/vector12.jpg");
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    /* height: 100vh; */
}


#view-shop-page, #view-product-page {
    background: linear-gradient(to bottom, rgba(35,35,47, 0.80) 0%, rgba(35,35,47, 0.80) 100%), url("../static/images/vector14.jpg");
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    /* height: 100vh; */
}


#view-cart-page {
    background: linear-gradient(to bottom, rgba(35,35,47, 0.80) 0%, rgba(35,35,47, 0.80) 100%), url("../static/images/vector11.jpg");
    background-position: left;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    /* height: 100vh; */
}


#login-page, #register-page, #logout-page {
    background: linear-gradient(to bottom, rgba(35,35,47, 0.80) 0%, rgba(35,35,47, 0.80) 100%), url("../static/images/vector13.jpg");
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}


#create-product-page, #edit-product-page {
    background: linear-gradient(to bottom, rgba(35,35,47, 0.80) 0%, rgba(35,35,47, 0.80) 100%), url("../static/images/vector6.jpg");
    background-position: 33% 50%;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}


h1,h2,h3,h4,h5,h6,.nav-link {
    font-family: 'Cabin', sans-serif;
}

.nav-link {
    color:#ffffff!important;
    font-size: larger;
}

.nav-link:hover {
    border-bottom: 3px solid #f3bf10;
    /* text-decoration-color: #676eff;
    text-decoration-thickness: 3px; */
}

.navbar-inner {
    background:transparent;
}

.navbar {
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0 0 1000px rgba(35,35,47, 0.3);
}

.bordered {
    border: 3px solid #72748e;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.05);
}

.btn-outline-primary, .btn-primary {
    color: #fff;
    background-color: #676eff;
    border-color: #676eff;
}

.btn-outline-primary:hover, .btn-primary:hover {
    background-color: #f3bf10;
    border-color: #f3bf10;
}

.bg-primary {
    background-color: #676eff!important;
}

.pri-text-size {
    font-size: 1.5rem;
}

.pri-text-color {
    color: #676eff;
}

.sec-text-color {
    color: #72748e;
}

.ter-text-color, .ter-text-color2 {
    color: #f3bf10;
}

.ter-text-color:hover {
    color: #f3dc10;
    text-decoration: none;
}


/* carousel css */
.carousel-caption {
    box-shadow: inset 0 0 0 2000px rgba(114,116,142,0.8);
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}


/* common card css */
.card-view-item, .card-custom {
        background-color: rgba(245,245,245,0);
}


/* Create-Product Form Divider CSS */
.dividers {
    height: 2px;
    border-width: 0;
    background-color: #72748e;
}

/* card css */
/* .card-custom {
    width:200px;
    /* opacity: 0;
} */

/* .card-img-size {
    width:75%;
} */

/* i.pri-text-color:hover {
    color: #f3bf10;
} */

/* a.card-button {
    color: #fff; 
    background-color: #676eff;
    border-color: #676eff;
} */

/* a.card-button:hover {
    color: #f3bf10;
    text-decoration: none;
    background-color: #f3bf10;
    border-color: #f3bf10;
} */


/* View Item CSS */
p>a>i {
    font-size: larger;
}

h5>a>i.pri-text-color:hover, #cart-checkout>i:hover, #cart-back>i:hover, td>i:hover, td>a>i.pri-text-color:hover {
    color: #f3bf10;
}

/* ALL CODE BELOW
 FROM THIS POINT 
ONWARDS NOT USED
 DUE TO CRISPY FORMS */

/* login CSS */
#forgot-pw {
    color:#fff;
}


/* Cart page CSS */
/* #cart-buttons {
    display: flex;
} */

/* #cart-back, #cart-checkout {
    justify-content: space-around;
} */

.table {
    color: #fff;
}

#forgot-pw:hover {
    text-decoration: underline;
}

.table td, .table th {
    text-align: center;
}

td > i {
    font-size: xx-large!important;
    color: #676eff;
}

td>img {
    width: 150px;
    background-color: #fff;
    border-radius:0.25rem;
}

#cart-checkout {
    min-width: 145px;
}

.bg-colored {
    background-color: rgba(114, 116, 142,0.5);
}

/* register page css */
