{% extends "base.template.html" %}
{% load static %}

{% block page_id %}create-product-page{% endblock %}

{% block content %}
<!-- Start of update-product-display -->
<section class="container">

    <div class="row justify-content-center">
        <h1 class="my-3">Update Product</h1>
    </div>
    <div class="row justify-content-center text-center my-5">
        <!-- start of form container -->
            <div class="col-lg-8">
                <div class="bordered p-3">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <input class="btn btn-primary" type="Submit">
                    </form>
                </div>
            </div>
        <!-- end of form container -->
    </div>

</section>
<!-- End of update-product-display -->

{% endblock %}