{% extends "base.template.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block addon_title %}Supplier{% endblock %}

{% block page_id %}create-product-page{% endblock %}

{% block content %}
<!-- Start of create-supplier-display -->
<section class="container">

    <div class="row justify-content-center">
        <h1 class="my-5">Add Supplier</h1>
    </div>
    <div class="row justify-content-center">
        <!-- start of form container -->
            <div class="col-md-6 bordered p-3">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <div class="text-center">
                        <input class="btn btn-primary" type="Submit">
                    </div>
                </form>
            </div>
        <!-- end of form container -->
    </div>

    </section>
    <!-- End of create-supplier-display -->

{% endblock %}